.question-errors
  = render 'shared/errors', resource: question

= render question

h2= 'Answers:'
.answers
  == render question.answers
br
== render 'answers/form', question: question, answer: question.answers.new